@model Assignment_03Project.Models.Classes
@{
    ViewBag.Title = "Show";
}

<div class="div">

    <h2>Class Name</h2>
    <p>@Model.classname</p>
    <p><strong>Start Date:</strong> @Model.startdate</p>
    <p><strong>Finish Date:</strong> @Model.finishdate</p>

</div>

